
@font-face {
  font-family: 'Calibri-Bold';
  src: url('Calibri-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri-Bold';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAhPgABIAAAADtbwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAIB7AAAEfMA
ABtoGAWvrkdERUYAAZPQAAAAHgAAAB4AJgRmR1BPUwABk/AAAGIGAACvZi8sJFNHU1VCAAH1+AAA
C/;
  font-weight: normal;
  font-style: normal;
}


